# GCUL Smart Contract Settings
GCUL_CONTRACT_ID=1:CTR:004Xowj6B6qufr6kSoaYsRPDZCjCBkbkYtB3xLvimsG59
GCUL_ESCROW_ACCOUNT_ID=1:USR:GBP:424BFwjobbiTBtdjqoPjiHRgmkF1YYvSiTLjCbdbQoz34
GCUL_PARTICIPANT_ACCOUNT_ID=1:USR:GBP:425KTfXouwvpG6xrSHDujeEtugeToCBneYUP126PJpZed

# Token Manager Settings for Minting / Funding
GCUL_TOKEN_MANAGER_ID=1:TKN:GBP:4232tBJDQndvBkemqb2isRkevsWEDLUXkey8b6Hkmedf6
GCUL_TOKEN_MANAGER_KMS_KEY=projects/ltc-hack2026-team22/locations/in/keyRings/ltc-reboot-2026/cryptoKeys/token-manager/cryptoKeyVersions/1

# GCUL Project / Region (defaults used if not set)
GCUL_PROJECT_ID=ltc-hack2026-team22
GCUL_REGION=green-tartan1.workshop.ongcp.co

# Flask server port
PORT=8000
